references: strict
source https://api.nuget.org/v3/index.json

storage: symlink
framework: auto-detect
nuget docopt.net ~> 0.6.1.11
nuget Google.Protobuf ~> 3.15.0
nuget Newtonsoft.Json ~> 13.0.0
nuget ZeroMQ 4.1.0.31
